    
     
 body { 
    @extend %montserrat-700;
    font-size: 22px;
    line-height: 35px; 
    color: #000;
} 
   
   .container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px; 
    border: 1px solid transparent;   
}  
 
 .discovery-call__title, 
 .faq__title,  
 .reasons__title, 
 .сhoose-us__title, 
 .reviews__title, 
 .discovery-call__title { 
    //font-family: 'Montserrat-Bold', sans-serif; 
    //font-weight: 700; 
     @extend %montserrat-700;
      font-size: 47px;
      line-height: 49px;
      color: #000; 
  } 
 
